.sidebar-dark-light {
    background: linear-gradient(to right, #323e57, #3d385f, #313653);
}


/* to right, #3a4063, #3a4063, #3a4063 */
.main-header {
    background: linear-gradient(to right, #263846, #344958, #263846);
}